.kira {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: #F6F6F6;
    max-width: 700px;
    min-width: 200px;
    width: 18vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.krug {
    display: inline-block;
    float: left;
    background-color: rgba(66, 197, 255, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.op {
    display: inline-block;
    color: white;
    font-family: Arial, sans-serif;
    font-size: larger;
    width: 25px;
    margin-left: 10px;
    padding-top: 15px;
}

.stroka1 {
    display: block;
    margin-left: 60px;
    margin-top: 5px;
    width: 100%;
}

.clock {
    display: inline-block;
    color: #999999;
    margin-right: 5px;
    margin-left: 60px;
    font-size: smaller;
}

.letter {
    color: #17ff12;
}

.Omy {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: small;
    letter-spacing: 0.4px;
    margin-left: 3px;
}

.message {
    display: block;
    margin-top: 5px;
    margin-left: 60px;
    color:  #999999;
    width: 100%;
}

.we {
    color: #7ad6ff;
}

